---
---

@import "{{ site.theme }}";

table, td, th {
    border-width: 0px;
    vertical-align: top;
    padding: 0 15px 0 0;
}

table {
    display: inline-block;
    border-spacing: 0;
}

img {
    padding: 0;
}

a {
   color: #3e498c;
   text-decoration: none;
}

h2 {
/*     color: #1866ab; */
    font-size: 27px;
    background: url('/images/bg_hr2.png') repeat-x bottom;
}

#header_wrap .inner {
  padding: 45px 10px 10px 10px;
}


:target:before {
    content: "";
    display: block;
    height: 165px;
    margin: -165px 0 0;
}

/*a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}*/

#header_wrap{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 9999;
}  

.inner {
    padding-left: 50px;
}

#main_content{
    background-color: #aaa
}

#main_content_wrap{
    background-color: white;
    margin-top: 85px;
}

.section-white{
    background-color:white;
}

.section-grey{
    background-color:#ddd;
}

.section-content{
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

h1#project_title {
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 30px;
}

ul.nav, ul.navbar {
  list-style-type: none;
  margin: 0 0 -32px 0;
  padding: 0;
}

ul.nav li {
  float: left;
}


ul.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 18px;
  text-decoration: none;
  font-size: 20px;
  background-color: none;
}

ul.nav a:hover, a:focus {
  background-color: #fff;
  color: #656565;
  text-decoration: none;
}

/*.anchor a:focus {
  background-color: green;
  color: #656565;
  text-decoration: none;
}*/

ul.nav a.active {
  background-color: #fff;
  color: #656565;
}

ul.nav a.inactive {
  background-color: none;
  color: white;
}

ul.nav a.inactive:hover, a.inactive:focus {
  background-color: #fff;
  color: #656565;
  text-decoration: none;
}
